@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100vh;
}


header {
   
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: rgb(3, 2, 20);
    opacity: 80;
}

a.logo {
    color: #008AF8;
    text-decoration: none;
    font-weight: bold;
    margin: 1em .5em 0;
}

img {
    width: 100%;
    height:auto;
}


/*
/Dropdown Nav - nav responsive/
*/

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #1D2226;
    width: 66%;
    visibility: hidden;
    transform: translateX(50%);
    opacity: 0;
    transition: all .3s;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.exit {
    width: 2em;
    float: right;
    margin: .5em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 4em;
}

li a {
    color:cyan;
    text-decoration: none;
    display: block;
    padding: .5em 1em;
}

.open {
    cursor: pointer;
    margin: .5em;
}

.active a {
    color: #008AF8;
    font-weight: bold;
}

li a:hover {
    background: #0088f827;;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}
/*///////
*/


/*
/HERO/
*/
    


/*
/*MAINs
*/

.left-col {
    background:rgb(24, 22, 22);
    color: ivory;
    position: relative;
    text-align: center;
   
}


.left-col:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.22;
    background-image: url('heroImage.jpg');
    background-size: cover;
    background-position: 100%;
}

.content {
    position: relative;
}

.left-col, .right-col {
    padding: 6.75rem 8vw;
}

h1 {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif, 'Roboto'; 
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.2em;
}

span {
    font-weight: 900;
    display: block;

}
p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: .77rem;
    color: ivory;
    font-weight: bold;
}

input {
    width: 100%;
    background: #EDEDED;
    border: 1px solid #C7C7C7;
    font-size: 1rem;
    padding: .75rem;
    outline: none;
    margin-bottom: 2.5em;
}

button {
    width: 100%;
    background: #5200FF;
    padding: 1em;
    color: white;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
}
/**/




/*
/>>media queries
*/

@media (min-width: 500px) {
    .open, .exit {
        display: none;
    }
    
    nav {
        visibility: unset;
        background: none;
        position: unset;
        height: auto;
        opacity: 1;
        transform: translateX(0);
    }
    
    ul {
        display: flex;
        margin-top: auto;
        width: auto;
        float: right;
        margin: 0;
    }
    
    li a {
        color: #ADDBFF;
        display: block;
        padding: 1em;
    }
    
    .active a {
        color: white;
    }
    
    


    @media only screen and (min-width: 770px) {
   
       
        .main {
            display: flex;
        }

        .form {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 2em;
        }
        
        button {
            width: auto;
            padding: 1em 2.5em;
        }
    }
    
    @media only screen and (min-width: 1260px) {
     
        .left-col, .right-col {
            flex-basis: 0;
            flex-grow: 1;
            height: 100vh;
            position: relative;
            
        }
    
        .left-col {
            padding-right: 2em;
            text-align: left;
        }
    
        h1 {
            font-size: 6rem;
        }
    
        span {
            display: block;
            font-size: 5rem;
        }
            .content {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }
    
              .form {
                  display: block;
                  width: 70%;
              
              }
    


}
}